name: CI

on:
  push:
    branches:
      - master
  pull_request:

permissions: {}

jobs:
  go_pipeline:
    name: Go build and static analysis
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # tag=v6.2.0
        with:
          go-version: "^1.24"
        id: go
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # tag=v6.1.0
        with:
          node-version: 22.x
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
        with:
          persist-credentials: false
      - name: Prepare environment
        run: sudo apt -y update && sudo apt-get -y install libvips-dev
      - name: Build web app
        run: cd cmd/alpacascloud/web/ && npm install && npm run build
      - name: Get dependencies
        run: go get -v -t -d ./...
      - name: Build
        run: go build cmd/alpacascloud/main.go
      - name: Staticcheck
        run: go tool staticcheck -checks 'all,-ST1000' ./...
  docker-image-image-api-server:
    name: Build & scan Docker image Image API server
    permissions:
      security-events: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
        with:
          persist-credentials: false
      - name: Build Docker image
        run: |
          docker build -t test-build-image-api-server -f image-api-server.dockerfile .
          docker run test-build-image-api-server || test $? -eq 1
      - name: Anchore scan
        id: scan
        uses: anchore/scan-action@62b74fb7bb810d2c45b1865f47a77655621862a5 # tag=v7.2.3
        with:
          image: "test-build-image-api-server"
          fail-build: false
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # tag=v3.29.5
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
