name: CI

on:
  push:
    branches:
      - master
  pull_request:

permissions: {}

jobs:
  go_pipeline:
    name: Go build and static analysis
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # tag=v6.0.0
        with:
          go-version: "^1.24"
        id: go
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # tag=v6.0.0
        with:
          node-version: 22.x
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag=v5.0.1
        with:
          persist-credentials: false
      - name: Prepare environment
        run: sudo apt -y update && sudo apt-get -y install libvips-dev
      - name: Build web app
        run: cd cmd/alpacascloud/web/ && npm install && npm run build
      - name: Get dependencies
        run: go get -v -t -d ./...
      - name: Build
        run: go build cmd/alpacascloud/main.go
      - name: Staticcheck
        run: go tool staticcheck -checks 'all,-ST1000' ./...
  docker-image-image-api-server:
    name: Build & scan Docker image Image API server
    permissions:
      security-events: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag=v5.0.1
        with:
          persist-credentials: false
      - name: Build Docker image
        run: |
          docker build -t test-build-image-api-server -f image-api-server.dockerfile .
          docker run test-build-image-api-server || test $? -eq 1
      - name: Anchore scan
        id: scan
        uses: anchore/scan-action@568b89d27fc18c60e56937bff480c91c772cd993 # tag=v7.1.0
        with:
          image: "test-build-image-api-server"
          fail-build: false
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # tag=v3.29.5
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
